.App {
  text-align: center;
  min-width: 770px;
}

div {
  line-height: 0;
}

img { 
  display: inline-block; 
  padding: 0; 
  margin: 0; 
  border: 1px solid #FFFFFF;
}

.square {
  background: #000000;
}